<div class="title">Transaction History</div>
<div class="error">{{ error }}</div>
<ng-container *ngFor="let transaction of transactionHistory; let i = index">

    <mat-card *ngIf="i === 0" role="listitem" 
    data-type="transaction"
    [attr.data-account-id]="transaction.account_id"
    [attr.data-amount]="transaction.amount"
    [attr.data-balance]="transaction.balance">Transferred ${{ transaction.amount }} from account {{ transaction.account_id }}<span class="balance">The current account balance {{ transaction.balance }}</span></mat-card>
    
    <mat-card *ngIf="i !== 0" role="listitem" 
    data-type="transaction"
    [attr.data-account-id]="transaction.account_id"
    [attr.data-amount]="transaction.amount">Transferred ${{ transaction.amount }} from account {{ transaction.account_id }}</mat-card>

</ng-container>